# Global environment variables
SWAGGER_UI_DOCUMENTATION_ENABLED=true
BANKCORESYTEM_DATASOURCE_USERNAME=username-bankcore-system
BANKCORESYTEM_DATASOURCE_PASSWORD=password-bankcore-system
BANKCORESYSTEM_SECRET_KEY=a-string-secret-at-least-256-bits-long

# MS-accounts environment variables
SPRING_DATASOURCE_URL_ACCOUNTS=jdbc:postgresql://localhost:5432/accounts_db
DATASOURCE_DB_NAME_ACCOUNTS=accounts_db

# MS-customers environment variables
SPRING_DATASOURCE_URL_CUSTOMERS=jdbc:postgresql://localhost:5432/customers_db
DATASOURCE_DB_NAME_CUSTOMERS=customers_db