# Global environment variables
SWAGGER_UI_DOCUMENTATION_ENABLED=true
BANKCORESYSTEM_DATASOURCE_USERNAME=username-bankcore-system
BANKCORESYSTEM_DATASOURCE_PASSWORD=password-bankcore-system
BANKCORESYSTEM_SECRET_KEY=Vg7oLpj6hBVR110xqJS2YolB74fezRptMEw1+Pb4/xk=

# MS-accounts environment variables
DATASOURCE_DB_NAME_ACCOUNTS=accounts_db

# MS-customers environment variables
DATASOURCE_DB_NAME_CUSTOMERS=customers_db